# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS
.DS_Store

# IDE
.vscode/
.idea/
 vcxcvbnmnbv cvbnncxh   
# Data
data/raw/*.csv
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# ML artifacts
mlruns/
models/
*.pkl
*.joblib

# DVC cache
.dvc/cache/

